:root {
    background-color: #556052;
    --main-white: #f2efea;
    --background-color: #556052;
    --secondary-background: #af6b58;
    --lib-background: #cbbcb1;
    --main-font: 'Montserrat';
    font-family: "Montserrat";
}

.topnav {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}

.addBook{
    width: 15vw;    
    font-size: 25px;
    border-width: 0px;
}

.addBook:hover{
    background-color: var(--secondary-background);
    color: var(--main-white);
}

.libraryContainer {
    background-color: var(--lib-background);
    width: auto;
    padding: 15px 15px 0px 15px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    justify-content: space-evenly;
}

.singleBookCard {
    background-color: var(--secondary-background);
    color: var(--main-white);
    margin: 0px 15px 15px 0px;
    width: auto;
    border-radius: 5px;
    padding: 5px;
}

.menu {
    background-color: #556052;
    height: 100vh;
    width: 0;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
    transition-timing-function: ease-out;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuTextInputs {
    width: 50vw;
    height: 25px;
    background-color: #af6b58;
}

::placeholder {
    font-size: 1.5rem;
    color: var(--main-white);
    font-family: var(--main-font);
}

ul {
    margin-block-start: 0em;
    margin-block-end: 0em;
    list-style-type: none;
    padding-left: 0px;
}

input {
    border-color: transparent;
    border-radius: 10px;
    font-size: 1.5rem;
    font-family: var(--main-font);
    color: var(--main-white);
}

input:focus {
    outline: none;
}

.menuContent {
    position: relative;
    margin-top: 30px;
}

.showForm {
    width: 100%;
}

.checkboxLabel {
    height: 25px;
    color: var(--main-white);
    font-size: 1.5rem;
}

.checkboxLabel .checkboxSpanMagic {
    position: absolute;
    top: 0px;
    left: -10px;
    height: 24px; 
    width: 24px;
    background-color: var(--secondary-background);
    border-radius: 5px;
}

.checkboxLabel .checkboxSpanMagic::after {
    position: absolute;
    content: "";
    top: 12px;
    left: 12px;
    height: 0px; 
    width: 0px;
    border-radius: 5px;
    border: solid orange; 
    border-width: 0 0px 3px 0;
    transform: rotate(0deg) scale(0);
    opacity: 1;
}

.checkboxLabel input:checked ~ .checkboxSpanMagic {
    background-color: var(--secondary-background);
    border-radius: 5px;
    transform: rotate(0deg) scale(1.0);
    opacity: 1;
    border: 2px solid var(--main-white);
}

.checkboxLabel input:checked ~ .checkboxSpanMagic::after {
    transform: rotate(45deg) scale(1);
    opacity: 1;
    left: 8px;
    top: 3px; 
    width: 6px;
    height: 12px;
    border: solid var(--main-white); 
    border-width: 0 2px 2px 0;
    background-color: transparent;
    border-radius: 0;
}

.visuallyhidden {
    opacity: 0;
}

.menuButton {
    width: 50vw;
    height: 35px;
    font-size: 25px;
    border-color: transparent;
    background-color: var(--secondary-background);
    color: var(--main-white);
    border-radius: 10px;
    font-family: var(--main-font);
}

.navTextColor {
    color: var(--lib-background)
}

button {
    background-color: var(--lib-background);
    color: var(--background-color);
    border-color: var(--background-color);
    border-style: solid;
    border-radius: 5px;
}

button:hover {
    background-color: var(--background-color);
    color: var(--lib-background);
}

button.menuButton:hover {
    position: relative;
    top: 5px;
    background-color: var(--background-color);
    border: 5px solid var(--main-white);
    padding-bottom: 30px;
}